<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Нету титла{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <!-- Bootstrap -->
    <link href="/template/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/template/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/template/bootstrap/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Раскрыть меню</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Праздник Праздник</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="/users/" class="dropdown-toggle" data-toggle="dropdown">Клиент <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/user/">Просмотрт</a></li>
                    <li><a href="/user/replace/">Добавить</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/users/" class="dropdown-toggle" data-toggle="dropdown">Выгрузка <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/export/xml/">xml</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<div class="container">

    {% block container %}{% endblock %}

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/template/bootstrap/js/jquery.js"></script>
<script src="/template/bootstrap/js/bootstrap.min.js"></script>
<script src="/template/bootstrap/js/main.js"></script>
</body>
</html>